body {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    margin: 0;
}
h1 {
    text-align: center;
}

section {
    display: grid;
    justify-content: center;
    justify-items: center;
    border: 1px solid red;
    background: mintcream;
}
.this-is-table{
    background: snow;
}
ul {
    display: table;
    /*margin: 10px auto;

     */
    padding: 5px;
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}
.table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 1.2em;
}
.table-row {
    display: table-row;
}
.table li:nth-child(even) {
    background-color: aliceblue;
}
.table li:nth-child(odd) {
    background-color: beige;
}
.table li:first-child {
    background-color: burlywood;
}
.table span {
    display: table-cell;
    padding: 5px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 auto;

     */
}

/*.pagination inpu {
    border: 1px solid darkred;
    padding: 3px;
}
.pagination span:hover {
    background: darkred;
    color: white;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}
*/


.quantity-per-page{
    justify-self: start;
}

/*для оформления кнопок страницы */
input[type="radio"] {

}

.pagination label {
    /*cursor: pointer; /* Указываем, что метка кликабельна */
    padding: 8px 12px; /* Добавляем отступы для меток */
    border: 1px solid #ccc; /* Добавляем рамку */
    border-radius: 4px; /* Закругляем углы */
    margin: 0 5px; /* Добавляем отступы между метками */
    background-color: #f9f9f9; /* Цвет фона */
    transition: background-color 2s; /* Плавный переход для фона */

}

.pagination input[type="radio"]:checked {
    background-color: red;/*#007bff; /* Цвет фона для выбранной метки */
    color: white; /* Цвет текста для выбранной метки */
}